@{
    ViewBag.Title = "Home Page";
}

@{ if (Session["utilisateur"] != null)
    {
        ViewBag.Message = "Bonjour " + Session["utilisateur"].ToString();
    }
    else
    {
        Response.Redirect("~/utilisateurs/Index");
    }    

}

<h1 style="text-transform:capitalize">@ViewBag.Message</h1>



