@font-face {
    font-family: 'deliusregular';
    src: url('fonts/delius-regular-webfont.woff2') format('woff2'), url('fonts/delius-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}

#page {
    width: 1280px;
    margin: 0px auto;
}

header {
    margin-top: 5px;
    margin-bottom: 80px;
}

#nomDePage, #nomUtilisateur, #derniereConnexion {
    font-family: 'deliusregular',serif;
    font-weight: bold;
    /*float:left; permet de rendre l'élément flottant pour afficher du texte à côté */
    display: inline-block;
}

#nomDePage {
    min-width: 40%;
    font-size: 2em;
    color: red;
}

#nomUtilisateur {
    min-width: 30%;
    text-align: center; /*centré horizontalement dans son parent (body)*/
    font-size: 1.2em;
}

#derniereConnexion {
    min-width: 25%;
    font-size: 0.8em;
}

#imglogout {
    min-width: 25%;
    text-align: right; /*centré horizontalement dans son parent (body)*/
}

#main, #action /* definiton de style commune à "main" et à "action"*/ {
    font-family: 'deliusregular',serif;
    min-height: 600px;
    max-height: 760px; /*barre de défilement si le contenu dépasse max-height*/
}

#main {
    width: 90%;
    float: left;
   /* overflow: auto;barre de scroll horizontale et verticale*/
}

#action {
    width: 9%;
    float: left;
}

.dessous {
    clear: both; /*empeche le flottant de depasser de leur conteneur*/
}

#imgVueGenerale, #imgRequete, #imgParametrage, #imgcorbeillepersonnelle {
    margin: 10px;
}

p {
    width: 250px;
    text-align: center;
}


#hblocLog1 {
    max-width: 300px;
    min-width: 100px;
    /*height: auto;*/
    font-weight: normal !important;
    font-size-adjust: initial;
    line-height: 12px;
}

#hblocAno1, #hblocAno2, #hblocAno3, #hblocAno4, #hblocAno5 {
    min-width: 100px;
    font-weight: normal !important;
    font-size-adjust: initial;
    line-height: 12px;
}


.blocTab {
    text-align: left !important;
}

/*#imgrequetesimplifiee {
    margin-top: 50px;
    margin-left: 50px;
}*/

section h5 { /*label inclus dans h5*/
    margin-left: 00px;
    text-align: right;
}

/*.boutonValider {
    min-width: 50px;
    min-height: 50px;
    margin-top: 380px;
    margin-left: 50px;
}*/

.btn2 {
    margin-top: 100px !important;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    /* background:#d34836;*/
    /*font:  13px Arial bold;*/
    color: none;
    border: 1px solid black;
}

.btnRequete {
    margin-top: 100px !important;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    /* background:#d34836;*/
    /*font:  13px Arial bold;*/
    color: none;
    border: 1px solid black;
}

.btnParamHabil {
    margin-top: 100px !important;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    /* background:#d34836;*/
    /*font:  13px Arial bold;*/
    color: none;
    border: 1px solid black;
}

#btnAjouter {   
    width: 250px;
    height: 50px;
    border-radius: 8px;
   color: white;
    background-color:mediumaquamarine;
    border: 1px solid black;    
}

#btnSupprimer {   
    width: 250px;
    height: 50px;
    border-radius: 8px;
    color: white;
    background-color:crimson;
    border: 1px solid black;
}

#aucunResultat{
    margin-top:180px;
    font-size:1.3em;
    text-align:center;
}

#btnRetour {
    margin-top:30px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    color: black;
    background-color:gainsboro;
    border: 1px solid black;
    text-align:center;
}

.btn-ResNulReq {
    margin-top:20px;
    min-width:150px;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}

    .btn-ResNulReq:focus, .btn-ResNulReq:hover {
        background-color: #e0e0e0;
        background-position: 0 -15px;
    }

    .btn-ResNulReq.active, .btn-ResNulReq:active {
        background-color: #e0e0e0;
        border-color: #dbdbdb;
    }

    .btn-ResNulReq.disabled, .btn-ResNulReq.disabled.active, .btn-ResNulReq.disabled.focus, .btn-ResNulReq.disabled:active, .btn-ResNulReq.disabled:focus, .btn-ResNulReq.disabled:hover, .btn-ResNulReq[disabled], .btn-ResNulReq[disabled].active, .btn-ResNulReq[disabled].focus, .btn-ResNulReq[disabled]:active, .btn-ResNulReq[disabled]:focus, .btn-ResNulReq[disabled]:hover, fieldset[disabled] .btn-ResNulReq, fieldset[disabled] .btn-ResNulReq.active, fieldset[disabled] .btn-ResNulReq.focus, fieldset[disabled] .btn-ResNulReq:active, fieldset[disabled] .btn-ResNulReq:focus, fieldset[disabled] .btn-ResNulReq:hover {
        background-color: #e0e0e0;
        background-image: none;
    }
